<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Authentication Using Firebase
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen class="buttonPage">
  <div class="holder">
    <h1>Select How You Want to Authenticate!</h1>
    <div class="loginButtonHolder">
      <ion-button color="light" expand="block">Email & Password</ion-button>
      <ion-button color="google" expand="block">Google</ion-button>
      <ion-button color="twitter" expand="block">Twitter</ion-button>
      <ion-button color="facebook" expand="block">Facebook</ion-button>
      <ion-button color="github" expand="block">Github</ion-button>
      <div class="create">Don't Have an account?</div>
      <p class="btn create">Create One.</p>
    </div>
  </div>

</ion-content>
